textarea.text {
    min-width: 50%;
    height: 60pt;
}

input.free {
    min-width: 50%;
}

.submit {
    margin: auto;
    alignment: center;
}

.questionContainer {
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: auto;
}

.questionContainerImg {
    display: grid;
    grid-template-columns: 5% 70% 30%;
    grid-template-rows: auto;
}

.questionMarker {
    vertical-align: middle;
    height: 100%;
    grid-column: 1;
    grid-row: 1 / span 2;
}

.questionText {
    grid-column: 2;
    grid-row: 1;
}
.questionImage {
    grid-column: 3;
    grid-row: 1 / span 2;
    max-width: 20vmin;
}
.answerBlock {
    grid-column: 2;
    grid-row: 2;
}