.submissionExplorer {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
}

.submissionList {
    margin: 10pt;
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: repeat(auto-fill, 30pt);
}

.submissionHeader {
    display: inline-grid;
    grid-column: 2;
    /*grid-row: 1;*/
}

.testWrapper {
    border: 1px solid #aad;
    max-width: 90vmin;
    margin: 0 auto;
}

div.testTitle {
    display: block;
    position: relative;
    margin: 0;
    /*min-height: 50vmin;*/
    /*background-color: #99c1ef;*/
}

h2.testTitle {
    display: block;
    position: relative;
    text-align: center;
    padding: 10pt;
    margin: 0 auto 0 0;
    /*vertical-align: center;*/
    /*color: #253050;*/
}

.submitTest {
    margin: 20pt auto;
    display: block;
}